@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* vietnamese */
  @font-face {
    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf) format("truetype");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0,
      U+1EA0-1EF9, U+20AB;
  }

  /* latin-ext */
  @font-face {
    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf) format("truetype");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
      U+2C60-2C7F, U+A720-A7FF;
  }

  /* latin */
  @font-face {
    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf) format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* vietnamese */
  @font-face {
    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf) format("truetype");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0,
      U+1EA0-1EF9, U+20AB;
  }

  /* latin-ext */
  @font-face {
    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf) format("truetype");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
      U+2C60-2C7F, U+A720-A7FF;
  }

  /* latin */
  @font-face {
    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf) format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* vietnamese */
  @font-face {
    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf) format("truetype");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0,
      U+1EA0-1EF9, U+20AB;
  }

  /* latin-ext */
  @font-face {
    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf) format("truetype");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
      U+2C60-2C7F, U+A720-A7FF;
  }

  /* latin */
  @font-face {
    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf) format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* vietnamese */
  @font-face {
    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf) format("truetype");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0,
      U+1EA0-1EF9, U+20AB;
  }

  /* latin-ext */
  @font-face {
    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf) format("truetype");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
      U+2C60-2C7F, U+A720-A7FF;
  }

  /* latin */
  @font-face {
    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./assets/fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf) format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  html {
    font-size: 14px;
  }

  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: inherit;
    transition: all 5000s ease-in-out 0s;
  }
}

@layer components {
  .card {
    @apply rounded-md;
  }

  .table th:first-child {
    @apply static z-auto;
  }

  .table :where(thead) :where(th, td) {
    @apply bg-base-100;
  }

  .table :where(thead, tfoot) :where(th, td) {
    @apply text-base font-medium normal-case;
  }

  .table :where(tbody th, tbody td) {
    @apply bg-transparent;
  }

  .table :where(:first-child) :where(:first-child) :where(th, td):first-child {
    border-top-left-radius: 0;
  }
  .table :where(:first-child) :where(:first-child) :where(th, td):last-child {
    border-top-right-radius: 0;
  }
  .table :where(:last-child) :where(:last-child) :where(th, td):first-child {
    border-bottom-left-radius: 0;
  }
  .table :where(:last-child) :where(:last-child) :where(th, td):last-child {
    border-bottom-right-radius: 0;
  }

  .table tr.hover:hover th,
  .table tr.hover:hover td,
  .table tr.hover:nth-child(even):hover th,
  .table tr.hover:nth-child(even):hover td {
    @apply bg-base-100;
  }

  .tooltip {
    z-index: 9999;
  }
}
